<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="top-left-header">
      <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" class="header-logo">
      <span class="header-title">ONGC BACKUP MANAGEMENT SYSTEM</span>
   </div>

   <div class="background-image"></div>

   <div class="login-container">
      <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" class="logo">
      <h2>Login</h2>
      <form action="/login" method="POST">
         <label for="username">Username</label>
         <input type="text" id="username" name="username" required>

         <label for="password">Password</label>
         <input type="password" id="password" name="password" required>

         <label for="role">Select Role</label>
         <select id="role" name="role" required>
            <option value="admin">Admin</option>
            <option value="user">User</option>
         </select>

         <button type="submit">Login</button>
      </form>
   </div>
</body>
</html>
